.sideNav{
    height: 100vh;
    display: flex;
    flex-direction: column;
    --navW: 15rem;
    width: var(--navW);
    background-color: white;
    transition: width .3s ease;
    position: relative;
}

.title{
    overflow: hidden;
    margin-inline: auto; 
    white-space: nowrap;
    margin-block: .5rem;
    margin-left: 1rem;
    overflow: hidden;
}

.profile{
    display: flex;
    justify-content: left;
    margin-block: .5rem;
    margin-left: .5rem;
}

.logout{
    opacity: 0;
    transition: all .5s ease-in-out;
}

.profile:hover .logout{
    opacity: 1;
}

.profile-btn{
    border-radius: 999vw;
}

.sideNav.opened .profile-btn{
    border-radius: 0;
}

.expp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    button{
        height: 2.5rem;
        text-align: start;
    }
    button:hover{
        background-color: rgba(128, 128, 128, 0.13);
    }
}

.panel-ico{
    margin: 0 !important;
}

.xpanel{
    padding: 0;
    border-radius: 0;
    box-shadow: none;
}

.expTitle{
    margin: 0;
    width: 100%;
    margin-inline: .5rem;
    margin-top: auto;
}

.panel-ico{
    width: 2rem;
}

.acc{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}