<div class="sideNav">
    <h2 class="title">Admin Dashboard</h2>
    <div class="profile">
        <button mat-button class="profile-btn">
            <mat-icon>person</mat-icon>
            <span>
                Edelmira
            </span>
        </button>
        <button 
            class="logout" 
            mat-icon-button 
            (click)="this.afAuth.signOut()" 
            matTooltip="LogOut"
            matTooltipPosition="right"
        >
            <mat-icon style="color: red;">logout</mat-icon>
        </button>
    </div>
    <mat-accordion class="acc" multi>
        <mat-expansion-panel class="xpanel" #tPanel>
            <mat-expansion-panel-header>
                <mat-icon class="panel-ico">cast_for_education</mat-icon>
                <p class="expTitle">
                    Gestión Academica
                </p>
            </mat-expansion-panel-header>
            <div class="expp">
                <button mat-button (click)="emmitComponent('materias')">Materias</button>
                <button mat-button (click)="emmitComponent('alumnos')">Alumnos</button>
                <button mat-button (click)="emmitComponent('mapa')">Mapa curricular</button>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="xpanel" #bPanel>
            <mat-expansion-panel-header>
                <mat-icon class="panel-ico">hub</mat-icon>
                <p class="expTitle">
                    Gestión LCC Hub
                </p>
            </mat-expansion-panel-header>
            <div class="expp">
                <button mat-button (click)="emmitComponent('anuncios')">Anuncios</button>
                <button mat-button (click)="emmitComponent('galeria')">Fotos</button>
                <button mat-button (click)="emmitComponent('articulos')">Articulos</button>
                <button mat-button (click)="emmitComponent('videos')">Videos</button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <button 
        mat-button
        class="admin" 
        *ngIf="isAdmin"
        (click)="emmitComponent('admin')"
    >
        <mat-icon>
            admin_panel_settings
        </mat-icon>
        Panel de Administrador
    </button>
</div>