<h1 class="title">
    Gestor de Videos
</h1> 
<div class="cont">
    <div class="aggVideo">
        <h3>Agregar un video:</h3>
        <mat-form-field appearance="outline">
            <mat-label>Titulo</mat-label>
            <input 
                [(ngModel)]="titulo"
                matInput
                type="text"
                autocomplete="off"
            />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Link</mat-label>
            <input
                [(ngModel)]="link"
                matInput 
                autocomplete="off" 
                (keydown.enter)="aggVid()"
                placeholder="https://www.youtube.com/watch?v=mWWS8B-5eT4" 
            />
            <button 
                mat-icon-button 
                matSuffix 
                [disabled]="!link || !titulo"
                (click)="aggVid()"
            >
                <mat-icon>add</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="videos">
        <h3>Todos los videos:</h3>
        <div class="videosCont">
            <div class="video" *ngFor="let video of safeVideos">
                <iframe [src]="video.url" frameborder="0"></iframe>
                <div class="controls">
                    <button mat-icon-button matTooltip="Editar"><mat-icon>edit</mat-icon></button>
                    <button mat-icon-button matTooltip="Borrar" (click)="deleteVid(video.code)">
                        <mat-icon [color]="'warn'">delete</mat-icon>
                    </button>
                    {{video.date.toDate() | date:'dd/MM/yy - h:mm:ss a'}}
                </div>
            </div>
        </div>
    </div>
</div>