<h1 class="title">
    Gestor de Materias
</h1> 
<div class="cont">
    <div class="aggVideo">
        <h3>Agregar un video:</h3>
        <mat-form-field appearance="outline">
            <mat-label>Link</mat-label>
            <input 
                [(ngModel)]="link"
                matInput 
                autocomplete="off" 
                placeholder="https://www.youtube.com/watch?v=mWWS8B-5eT4" 
            />
            <button 
                mat-icon-button 
                matSuffix 
                [disabled]="!link"
                (click)="aggLink()"
            >
                <mat-icon>add</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="videos">
        <h3>Todos los videos:</h3>
        <div class="videosCont">
            
        </div>
    </div>
</div>