.title{
    padding: .5rem 0 .5rem .5rem;
    width:100%;
    border: 1px rgba(0, 0, 0, 0.144);
    border-style: none none solid none;
}

.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    margin-left: 1rem;
}

.users{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}