<h1 class="title">
    Galeria de fotos
</h1> 
<div class="cont">
    <div class="aggFoto">
      <button mat-raised-button (click)="uploadImg()">
        <mat-icon>file_download</mat-icon>
        Agregar una imagen
      </button>
    </div>
    <div class="photos">
      <div class="imgWrapper" *ngFor="let img of imgs">
        <div class="btnWrapper">
          <button 
            mat-icon-button 
            *ngIf="img.showInPage" 
            matTooltip="Es visible"
            class="btnEdit"
            (click)="toggleVisible(img.docRef, !img.showInPage)"
          >
            <mat-icon>visibility</mat-icon>
          </button>
          <button 
            mat-icon-button 
            *ngIf="!img.showInPage" 
            matTooltip="No es visible"
            class="btnEdit"
            (click)="toggleVisible(img.docRef, !img.showInPage)"
          >
            <mat-icon>visibility_off</mat-icon>
          </button>
          <button 
            mat-icon-button 
            matTooltip="Edita" 
            class="btnEdit"
            (click)="editImg(img.docRef)"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <img class="imgGaleria" [src]="img.url" *ngIf="img.url"/>
      </div>
    </div>
      
</div>