.title{
    padding: .5rem 0 .5rem .5rem;
    width:100%;
    border: 1px rgba(0, 0, 0, 0.144);
    border-style: none none solid none;
}

.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aggFoto{
    margin-top: 1rem;
    margin-left: 1rem;
    gap: 1rem;
    display: flex;
    align-items: center;
}

.photos{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    gap: 1.5rem;
}

.imgWrapper{
    position: relative;
}

.imgGaleria{
    max-width: 200px;
    object-fit: cover;
}

.btnWrapper{
    position: absolute;
    top: .5rem;
    right: 1rem;
    display: flex;
    gap: 1rem;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.imgWrapper:hover .btnWrapper{
    opacity: 1;
}

.btnEdit{
    background-color: white;
}