<h1 class="title">
    Articulos
</h1> 
<div class="cont">
    <button 
        mat-raised-button 
        class="addBtn"
        (click)="aggArticulo()"
    >
        <mat-icon>add</mat-icon>Agregar un articulo
    </button>

    <div class="articulos">
        <h3>Todos los articulos:</h3>
        <div class="articulosCont">
            <mat-card *ngFor="let articulo of articulos" style="width: 300px;">
                {{articulo.url}}
                <div class="actions">
                    <button mat-button><mat-icon>edit</mat-icon>Editar</button>
                    <button mat-button [color]="'warn'"><mat-icon>delete</mat-icon>Borrar</button>
                </div>
            </mat-card>
        </div>
    </div>
</div>