<h1 class="title">
    Articulos
</h1> 
<div class="cont">
    <button 
        mat-raised-button 
        class="addBtn"
        (click)="aggArticulo()"
    >
        <mat-icon>add</mat-icon>Agregar un articulo
    </button>

    <div class="articulos">
        <h3>Todos los articulos:</h3>
        <div class="articulosCont">
            <div *ngFor="let artic of articulos" class="anuncio">
                <button mat-icon-button class="btnEdit" matTooltip="Edita" (click)="editaArticulo(artic)">
                    <mat-icon>edit</mat-icon>
                </button>
                <img [src]="artic.imgSrc" class="anuncioImg">
                <div class="fade-wrapper">
                    <h2>{{artic.titulo}}</h2>
                    <p>{{artic.desc}}</p>
                    <div class="tags">
                        <mat-chip-list>
                            <mat-chip *ngFor="let tag of artic.tags">{{tag}}</mat-chip>
                        </mat-chip-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>