<div class="dashboard">
    <div class="drawer">
        
        <app-nav (componentHandler)="setComponent($event)"></app-nav>
        <!-- <button mat-raised-button (click)="signOut()" [color]="'warn'">Sign Out</button> -->
    </div>
    <div class="content" [ngSwitch]="selected">
        <agg-materia *ngSwitchCase="'materias'"></agg-materia>
        <agg-alumnos *ngSwitchCase="'alumnos'"></agg-alumnos>
        <mapa *ngSwitchCase="'mapa'"></mapa>

        <articulos *ngSwitchCase="'articulos'"></articulos>
        <galeria *ngSwitchCase="'galeria'"></galeria>
        <anuncios *ngSwitchCase="'anuncios'"></anuncios>
        <videos *ngSwitchCase="'videos'"></videos>
        <admin *ngSwitchCase="'admin'"></admin>
        <bolsa *ngSwitchCase="'bolsa'"></bolsa>
    </div>
</div>